<div class="d-flex p-3 justify-content-center align-items-center flex-column">
  <div class="text-dark"> 
      <h4 class="shopname">MyShop<img src="../../../assets/img/shop.png" height="25px"> </h4>
  </div>
  <nav class="nav justify-content-center text-dark ">
      <a class="nav-link active" routerLink="/">Home</a>
      <a class="nav-link" routerLink="women">Women</a>
      <a class="nav-link" routerLink="men">Men</a>
      <a class="nav-link" routerLink="child">Child</a>
      <a class="nav-link" routerLink="wishlist">❤️</a>
      <a class="nav-link" routerLink="cart"><img src="../../../assets/img/cart1.png" height="25px"></a>
    </nav>
</div>

<router-outlet></router-outlet>